@font-face{
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 * {
    font-family: myFirstFont;
 }
.radios{
    text-align: left;
    color: #eee;
}
.select{
    padding: 8px 12px;
    color: #333;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
}
.select:focus,
.select:hover{
    outline: none;
    border: 2px solid #bbb;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.roomtitle{
    position: relative;
    text-align: center;
}
body{
    background: linear-gradient(#0b0c10,#1f2833);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
    
}
h1{
    text-align: center;
    color: #ffff;
}
h3{
    color:#ffff ;
}
p{
    color:#ffff ;
}
a{
    color: #ffff;
}
