
body{
    background-color:#fff   ;
    background-image: url("Assets/bg1.jpg");
    background-size: 1530px 800px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin:0;
    
    
}

#landing{
    margin-top:1px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:50px;
}

#landing >div{
    margin-top: 0px;
    margin-bottom:0px;
    max-height: 100%;
    width: 100%;
}

.maintext{
    color: #f4976c;
    margin-bottom: 0px;
}

.syscaption
{
    margin-top:0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #f4976c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color:#f4976c ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color:#303c6c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav{
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li{
    list-style-type: none;
    display: inline-block;
}
li a{
    margin-left: 0px;
    display: block;
    color: #f4976c;
    padding: 12px 10px;
    text-decoration: none;
    text-align: center;
}
li a:hover:not(.active)
{
    background-color: #fbe8a6;
}
.active
{
    background-color: #303c6c;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.select{
    padding: 8px 12px;
    color: #333;
    text-align: center;
    background-color:none;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    border: 1px #f4976c solid;
}
.select:focus,
.select:hover{
    outline: none;
    border: 2px solid #bbb;
}
.roomtitle{
    position: relative;
    text-align: center;
}
#roomButton{
    text-align: center;

}
#roomButton >a{
    text-decoration: none;
    color: #eee;
    border: none;
    background-color: #303c6c;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    position: relative;
    margin: 10px 5px;
    font-size: 15px;
}
#roomButton >a:hover
{
    background-color: #212a4b;
}
#imageforselect{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#selectroom
{
    margin-top: 30rem;
}
#aboutus
{
    margin-top: 40rem;
}


  
