html{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color:#fff   ;
    background-image: url("Assets/bg1.jpg");
    background-size: 1530px 800px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    margin:0;
    
    
}
body img{
    width: 100%;
    height: auto;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color:#fcfcfa;
}
#nav{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 5px;
}
li a{
    margin-left: 0px;
    font-weight: bold;
    display: block;
    color: #f4976c;
    padding: 12px 10px;
    text-decoration: none;
    text-align: center;
}
li a:hover:not(.active)
{
    background-color: #fbe8a6;
    border-radius: 50px;
}
.active
{
    background-color: #303c6c;
}
#landing{
    top:10rem;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:10rem;
}

#landingtext{
    margin-top: 6rem;
    margin-bottom:1px;
    max-height: 100%;
    width: 100%;
}

.maintext{
    color: #f4976c;
    margin-bottom: 0px;
}

.syscaption
{
    margin-top:0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #f4976c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color:#f4976c ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color:#303c6c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}

.flex-container1{
    display: flex;
    justify-content: space-around;
    
}
.select{
    padding: 8px 12px;
    color: #333;
    text-align: center;
    background-color:none;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    border: 1px #f4976c solid;
}
.select:focus,
.select:hover{
    outline: none;
    border: 2px solid #bbb;
}
.roomtitle{
    position: relative;
    text-align: center;
}
#roomButton{
    text-align: center;

}
#roomButton >a{
    text-decoration: none;
    color: #eee;
    border: none;
    background-color: #303c6c;
    border-radius: 15px;
    padding: 15px;
    display: inline-block;
    position: relative;
    margin: 10px 5px;
    margin-top: 1rem;
    font-size: 15px;
}
#roomButton >a:hover
{
    background-color: #212a4b;
}
.cliparts{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.picture_container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.picture_container img
{
    max-width: 100%;
    max-width: 100%;
}
#selectroom
{
    margin-top: 40rem;
}
#aboutus
{
    margin-top: 40rem;
}
#devs{
    margin-top: 15rem;
}
table{
    margin-left: 60px;
}
th {
    text-align: center;
    padding: 8px;
    font-size: 18px;
}
td{
 
    text-align: center;
    padding: 8px;
    font-size: 15px;
}

footer{
    margin-top: 5rem;
    padding: 0px 10px;
    background-color: #303c6c;
}
.footertext{
    color: #fcfcfa;
    font-size: 13px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

  
