<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style1.css') }}">
</head>
<body>
     <!--LINKS-->
     <section class = "navigation">
      <nav id="nav2">
        <ul>
          <li><a href="{{ url_for('room')}}">Select another room click here</a></li>
        </ul>
      </nav>
      <div id="map">
        <img src="../static/css/Assets/undraw_Firmware_re_fgdy.png" alt="img">
      </div>
      <button type="button">View Map</button>
     </section>
    <section id="landing">
        <div class="landing"></div>
        </div>
    </section>
    <section class ="path">
      <div id = "direction">
        {% block path %} {% endblock %}
      </div>
    </section>
    <br><br><br><br><br>
</body>
</html>