<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPSTONE PROJECT</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css') }}">

    <!--LINKS-->
    <nav id="nav">
      <ul>
        <li><a href="{{ url_for('index')}}">HOME</a></li>
        <li><a href="#aboutus">ABOUT US</a></li>
      </ul>
    </nav>
</head>
<body>
     <!--LANDING PAGE-->
  <section id="landing">
    <div class="landing">
      <h1 class = "maintext">NEED SYSTEM NAME</h1>
      <p align = "center" class="syscaption">CIS AND CAB BUILDING ROOMS ROUTING SYSTEM</p>
      <p align="center" class="syscaption">powered by AI Technology</p>
  </div>
  <div id="roomButton">
    <a href="#roomselect">SELECT ROOM</a>
  </div>
  <br><br><br><br>
  </section>  
    <br><br><br><br><br>

  <!--forms-->
  <section id="selectroom">
      <!--ROOM SELECTION-->
      <div id="roomselect">
        <h1>ROOM SELECTION</h1>
        <div class = "flex-container" align="center">
          <div>
              <h3 class>OFFICES</h3>
              <form action="{{ url_for('get_data')}}" method ="GET">
                  <select required class = "select" name="offices" id="offices" size="1">
                    <option disabled selected value="" hidden>---SELECT ROOM---</option>
                    <option value ="dept_chair">DEPARTMENT CHAIR OFFICE</option>
                    <option value="facultya">FACULTY ROOM A</option>
                    <option value="facultyb">FACULTY ROOM B</option>
                    <option value="itsoc">ITSOC OFFICE</option>
                    <option value="comsoc">COMSOC OFFICE</option>
                    <option value="conference">CONFERECE ROOM</option>
                    <option value="meteo">METEOROLOGY FACULTY </option>
                  </select>
                  <br><br>
                  <input type="submit" value="submit_office" name = "submit" class = "my-button">
                </form>
          </div>
          <div>
              <h3>LABORATORY ROOMS</h3>
              <form action="{{ url_for('get_data')}}">
                  <select required class = "select" name="labrooms" id="room1" size="1">
                    <option disabled selected value="" hidden>---SELECT ROOM---</option>
                    <option value="lab1">ROOM 1</option>
                    <option value="lab2">ROOM 2</option>
                    <option value="lab3">ROOM 3</option>
                    <option value="lab4">ROOM 4</option>
                    <option value="lab5">ROOM 5</option>
                    <option value="lab6">ROOM 6</option>
                    <option value="forecast">FORECAST & MODELING</option>
                  </select>
                  <br><br>
                  <input type="submit" value="submit_lab" name="submit" class = "my-button" placeholder="GO">
                </form>
          </div>
          <div>
            <h3>LECTURE ROOMS</h3>
            <form action="{{ url_for('get_data')}}">
                <select required class = "select" name="lecturerooms" id="room3" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                  <option disabled selected value="" hidden>---SELECT ROOM---</option>
                  <option value="lectureA">100 A</option>
                  <option value="lectureB">100 B</option>
                  <option value="lectureC">100 C</option>
                  <option value="lecture101">101</option>
                  <option value="lecture102">102</option>
                  <option value="lecture103">103</option>
                  <option value="lecture104">104</option>
                  <option value="lecture105">105</option>
                  <option value="lecture106">106</option>
                  <option value="lecture107">107</option>
                  <option value="lecture108">108</option>
                  <option value="lecture109">109</option>
                  <option value="lecture110">110</option>
                  <option value="lecture111">111</option>
                </select>
                <br><br>
                <input type="submit" value="submit_lecture" name = "submit" class = "my-button">
              </form>
        </div>
      </div>
      <div class = "cliparts">
        <img src="../static/css/Assets/backgroundselect.png" alt="img" style="height: 400px; width: 500px;">
      </div>
  </section>
    <!--ABOUT US-->
    <section id ="aboutus">
      <div align="center">
        <h1 class="maintext">ABOUT US</h1>
        <div class = "cliparts">
          <img src="../static/css/Assets/undraw_Firmware_re_fgdy.png" alt="img" style="height: 400px; width: 500px;">
        </div>
        <div>
          <h3 class="maintext">OUR SERVICE</h3>
          <p>Our system was made for the reason of helping students and instructors who are not familiar with the different rooms of the CIS and CAB Building. We thought of developing an AI that will give the direction of where our users are going. Our AI uses a particular 
            search algorithm that not only give the direction of the intended user's destination but also it will calculate the most optimal path for the user's 
            destination. The generated path are stricltly bounded by the building's floor plans. Thus it does not include other paths when the users enters the building.</p>
        </div>
        <div>
        <h3>MEET THE DEVS</h3>
        <div class = "cliparts">
          <img src="../static/css/Assets/undraw_Programming_re_kg9v.png" alt="img" style="height: 400px; width: 500px;">
        </div>
        <div class="flex-container1">
          <p>ZAINAL JUMAINE D. SANTOS</p>
          <p>JOHN CARLO M. BISQUERA</p>
        </div>
        </div>
    </div>
    </section>


    <script>
     document.querySelector('.my-button').textContent = 'Submit Form';
    </script>
        
</body>
</html>